* {
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Fixing Header content */
  .header {
    color: white;
    display: flex;
    flex-direction: column;
    background-color:  #1F2937;
    height: 400px;
    font-size: 20px;
  }
  
  .header-logo-container {
    padding: 16px 12px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0px auto;
  }
  
  .header-logo {
    font-weight: bold;
  }
  
  .links {
    
    display: flex;
    gap: 50px;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  
  /* Fixing container 1 contwent */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70%;
  }
  
  .sign {
   width: 30%;
  
  }
  
  .container p {
    font-size: 18px;
    margin: 20px 0px;
  }
  
  .container img {
    width: 400px;
    height: auto;
  }
  
  
  /* Fixing container two content */
  
  .container-two {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 70%;
    
  }
  
  .box-container {
    width: 200px;
    display: flex;
    justify-content: space-around;
    gap: 25px;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-content: space-around;
  }
  
  .box img {
    width: 200px;
    border: 2px solid red;
  }
  
  /* Fixing container-three */
  
  .container-three {
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .container-three p {
    font-size: 24px;  
  }
  
  #author {
    margin-left: 350px;
  }
  
  /* Fixing container-four */
  .container-four {  
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
  
  .box-container-two {
    width: 600px;
    height: 100px;
    border-radius: 5px;
    background-color:#3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  
  /* Fixing footer */
  
  .footer {
    color: white;
    height: 75px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Fix buttons */
  
  #button-1 {
  
    width: 100px;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 8px;
  }
  #button-2 {
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #3882F6;
    width: 100px;
    padding: 5px;
  }
  
  #button-1:hover, 
  #button-2:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 75%);
  }