*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border: 2px solid red;*/
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1rem;  
  
}

.container.header {
  background-color: #1F2937;
  padding-bottom: 3rem;
}

.section {
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

.section.header {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.header-nav-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.header-nav-menu {
  display: flex;
  gap: 1rem;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}
.header-link {
  text-decoration: none;
  
  font-size: 18px;
}

.header-info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}



.header-intro {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;

}

.header-intro-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

img {
  max-height: 175px;
  width: 100%;
}

.container.info {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.section.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 3rem;
}

.info-header {
  text-align: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.info-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.info-card > img {
  border: 2px solid lightblue;
  border-radius: 6px;
}

.info-card > p {
  text-align: center;
}

.container.quote {
  background-color: #E5E7EB ;
  padding: 4rem;
}

.section.quote {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 4rem;

}

.quote-message { 
  font-size: 36px;
  font-weight: 300;
  color: #1F2937;
  font-style: italic;
}

.quote-owner {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  padding: 0 1rem;
}



